[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Learning/Gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Learning/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Learning/orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Nest-Microservices-Learning/payments-microservice.git
